<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="IGV.gLangInd === 'en'">{{selectedInfoItem.infoHeaderEN}}</ion-title>
    <ion-title *ngIf="IGV.gLangInd === 'cn'">{{selectedInfoItem.infoHeaderCN}}</ion-title>
    <ion-title *ngIf="IGV.gLangInd === 'zh'">{{selectedInfoItem.infoHeaderZH}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >

  <ion-grid>
    <ion-row *ngIf="selectedInfoItem.info1Flag">
      <ion-col *ngIf="IGV.gLangInd === 'zh'" col-12 class="leftAndMiddle">
          {{selectedInfoItem.info1DescZH}}
      </ion-col>
      <ion-col *ngIf="IGV.gLangInd === 'en'" col-12 class="leftAndMiddle">
          {{selectedInfoItem.info1DescEN}}
      </ion-col>
      <ion-col *ngIf="IGV.gLangInd === 'cn'" col-12 class="leftAndMiddle">
          {{selectedInfoItem.info1DescCN}}
      </ion-col>
      <ion-img [src]="selectedInfoItem.iosPicEN1"></ion-img>
    </ion-row>

  </ion-grid>
</ion-content>