<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title *ngIf="IGV.gLangInd === 'en'">{{selectedInfoItem.infoHeaderEN}}</ion-title>
        <ion-title *ngIf="IGV.gLangInd === 'cn'">{{selectedInfoItem.infoHeaderCN}}</ion-title>
        <ion-title *ngIf="IGV.gLangInd === 'zh'">{{selectedInfoItem.infoHeaderZH}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid class="fontSizeTo18">

        <ion-row *ngIf="selectedInfoItem.info1Flag">
            <img width="45" height="45" src="assets/img/info/1.png">
            <ion-col *ngIf="IGV.gLangInd === 'zh'" col-12 class="leftAndMiddle">
                {{selectedInfoItem.info1DescZH}}
            </ion-col>
            <ion-col *ngIf="IGV.gLangInd === 'en'" col-12 class="leftAndMiddle">
                {{selectedInfoItem.info1DescEN}}
            </ion-col>
            <ion-col *ngIf="IGV.gLangInd === 'cn'" col-12 class="leftAndMiddle">
                {{selectedInfoItem.info1DescCN}}
            </ion-col>
            <ion-col col-12 class="centerAndMiddle">
                <ion-img style="width: 100%; height: 100%;" 
                         class="containToNone" [src]="selectedInfoItem.info1Pic">
                </ion-img>
            </ion-col>
            <ion-col col-12 class="divider">
            </ion-col>
        </ion-row>

        <ion-row *ngIf="selectedInfoItem.info2Flag">
            <img width="45" height="45" src="assets/img/info/2.png">
            <ion-col *ngIf="IGV.gLangInd === 'zh'" col-12 class="leftAndMiddle">
                {{selectedInfoItem.info2DescZH}}
            </ion-col>
            <ion-col *ngIf="IGV.gLangInd === 'en'" col-12 class="leftAndMiddle">
                {{selectedInfoItem.info2DescEN}}
            </ion-col>
            <ion-col *ngIf="IGV.gLangInd === 'cn'" col-12 class="leftAndMiddle">
                {{selectedInfoItem.info2DescCN}}
            </ion-col>
            <ion-col col-12 class="centerAndMiddle">
                <ion-img style="width: 100%; height: 100%;" 
                         class="containToNone" [src]="selectedInfoItem.info2Pic">
                </ion-img>
            </ion-col>
            <ion-col col-12 class="divider">
            </ion-col>
        </ion-row>

        <ion-row *ngIf="selectedInfoItem.info3Flag">
            <img width="45" height="45" src="assets/img/info/3.png">
            <ion-col *ngIf="IGV.gLangInd === 'zh'" col-12 class="leftAndMiddle">
                {{selectedInfoItem.info3DescZH}}
            </ion-col>
            <ion-col *ngIf="IGV.gLangInd === 'en'" col-12 class="leftAndMiddle">
                {{selectedInfoItem.info3DescEN}}
            </ion-col>
            <ion-col *ngIf="IGV.gLangInd === 'cn'" col-12 class="leftAndMiddle">
                {{selectedInfoItem.info3DescCN}}
            </ion-col>
            <ion-col col-12 class="centerAndMiddle">
                <ion-img style="width: 100%; height: 100%;" 
                         class="containToNone" [src]="selectedInfoItem.info3Pic">
                </ion-img>
            </ion-col>
            <ion-col col-12 class="divider">
            </ion-col>
        </ion-row>

        <ion-row *ngIf="selectedInfoItem.info4Flag">
            <img width="45" height="45" src="assets/img/info/4.png">
            <ion-col *ngIf="IGV.gLangInd === 'zh'" col-12 class="leftAndMiddle">
                {{selectedInfoItem.info4DescZH}}
            </ion-col>
            <ion-col *ngIf="IGV.gLangInd === 'en'" col-12 class="leftAndMiddle">
                {{selectedInfoItem.info4DescEN}}
            </ion-col>
            <ion-col *ngIf="IGV.gLangInd === 'cn'" col-12 class="leftAndMiddle">
                {{selectedInfoItem.info4DescCN}}
            </ion-col>
            <ion-col col-12 class="centerAndMiddle">
                <ion-img style="width: 100%; height: 100%;" 
                         class="containToNone" [src]="selectedInfoItem.info4Pic">
                </ion-img>
            </ion-col>
            <ion-col col-12 class="divider">
            </ion-col>
        </ion-row>

        <ion-row *ngIf="selectedInfoItem.info5Flag">
            <img width="45" height="45" src="assets/img/info/5.png">
            <ion-col *ngIf="IGV.gLangInd === 'zh'" col-12 class="leftAndMiddle">
                {{selectedInfoItem.info5DescZH}}
            </ion-col>
            <ion-col *ngIf="IGV.gLangInd === 'en'" col-12 class="leftAndMiddle">
                {{selectedInfoItem.info5DescEN}}
            </ion-col>
            <ion-col *ngIf="IGV.gLangInd === 'cn'" col-12 class="leftAndMiddle">
                {{selectedInfoItem.info5DescCN}}
            </ion-col>
            <ion-col col-12 class="centerAndMiddle">
                <ion-img style="width: 100%; height: 100%;" 
                         class="containToNone" [src]="selectedInfoItem.info5Pic">
                </ion-img>
            </ion-col>
            <ion-col col-12 class="divider">
            </ion-col>
        </ion-row>

        <ion-row *ngIf="selectedInfoItem.info6Flag">
            <img width="45" height="45" src="assets/img/info/6.png">
            <ion-col *ngIf="IGV.gLangInd === 'zh'" col-12 class="leftAndMiddle">
                {{selectedInfoItem.info6DescZH}}
            </ion-col>
            <ion-col *ngIf="IGV.gLangInd === 'en'" col-12 class="leftAndMiddle">
                {{selectedInfoItem.info6DescEN}}
            </ion-col>
            <ion-col *ngIf="IGV.gLangInd === 'cn'" col-12 class="leftAndMiddle">
                {{selectedInfoItem.info6DescCN}}
            </ion-col>
            <ion-col col-12 class="centerAndMiddle">
                <ion-img style="width: 100%; height: 100%;" 
                         class="containToNone" [src]="selectedInfoItem.info6Pic">
                </ion-img>
            </ion-col>
            <ion-col col-12 class="divider">
            </ion-col>
        </ion-row>

        <ion-row *ngIf="selectedInfoItem.info7Flag">
            <img width="45" height="45" src="assets/img/info/7.png">
            <ion-col *ngIf="IGV.gLangInd === 'zh'" col-12 class="leftAndMiddle">
                {{selectedInfoItem.info7DescZH}}
            </ion-col>
            <ion-col *ngIf="IGV.gLangInd === 'en'" col-12 class="leftAndMiddle">
                {{selectedInfoItem.info7DescEN}}
            </ion-col>
            <ion-col *ngIf="IGV.gLangInd === 'cn'" col-12 class="leftAndMiddle">
                {{selectedInfoItem.info7DescCN}}
            </ion-col>
            <ion-col col-12 class="centerAndMiddle">
                <ion-img style="width: 100%; height: 100%;" 
                         class="containToNone" [src]="selectedInfoItem.info7Pic">
                </ion-img>
            </ion-col>
            <ion-col col-12 class="divider">
            </ion-col>
        </ion-row>

        <ion-row *ngIf="selectedInfoItem.infoAppFlag">
            <ion-col col-12 class="centerAndMiddle">
                <button ion-button full (click)="appReviewTapped($event, selectedInfoItem.appItemList)"> 
            {{ 'GENINFO.RELATED_APP_REVIEW' | translate }}
          </button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-12 class="bottomPaddingAdvBanner">
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>