<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="IGV.gPageInd === 'transport'">{{ 'MENU.TRANSPORT' | translate }}</ion-title>
    <ion-title *ngIf="IGV.gPageInd === 'dining'">{{ 'MENU.DINING' | translate }}</ion-title>
    <ion-title *ngIf="IGV.gPageInd === 'weather'">{{ 'MENU.WEATHER' | translate }}</ion-title>
    <ion-title *ngIf="IGV.gPageInd === 'accommodation'">{{ 'MENU.ACCOMMODATION' | translate }}</ion-title>
    <ion-title *ngIf="IGV.gPageInd === 'shopping'">{{ 'MENU.SHOPPING' | translate }}</ion-title>
    <ion-title *ngIf="IGV.gPageInd === 'entertainment'">{{ 'MENU.ENTERTAINMENT' | translate }}</ion-title>
    <ion-title *ngIf="IGV.gPageInd === 'utility'">{{ 'MENU.UTILITY' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <!-- General Info list -->
  <ion-list class="borderBottomTo1">
    <button ion-item class="borderBottomTo1" *ngFor="let infoItem of infoItemList" (click)="infoItemTapped($event, infoItem)" >
      <div class="item-note centerAndMiddle" item-left>
        <ion-img [width]="75" [height]="75" [src]="infoItem.infoLogo"></ion-img>
      </div>
     
      <div *ngIf="IGV.gLangInd === 'en'" class="item-note forceToMiddle fontToBold fontSizeTo22" item-left style="min-width: 41%; max-width: 41%;">
        {{infoItem.infoHeaderEN}} 
      </div>
      <div *ngIf="IGV.gLangInd === 'cn'" class="item-note forceToMiddle fontToBold fontSizeTo22" item-left style="min-width: 41%; max-width: 41%;">
        {{infoItem.infoHeaderCN}}
      </div>
      <div *ngIf="IGV.gLangInd === 'zh'" class="item-note forceToMiddle fontToBold fontSizeTo22" item-left style="min-width: 41%; max-width: 41%;">
        {{infoItem.infoHeaderZH}}
      </div>
    </button>
  </ion-list>
</ion-content>