page-home {

.homeBtn, .homeBtn.activated{
    min-width: 150px; 
    min-height:120px; 
    max-width: 150px;
    max-height:120px;
    box-shadow: none !important;
}

.mainBackground {
    background-size: 100% 100%;
    background: url("../assets/img/bg/night_1.jpg") no-repeat center center fixed;
}

}
